textarea {
  resize: none;
}

.post-form {
  display: flex;
  flex-direction: column;
  width:50%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.post-wrapper p, .post-wrapper h4 {
  margin: 1px;
  padding: 1px;
}

.post-wrapper-negative {
  color: darkolivegreen;
}